.dailyTemp-container {
  display: flex;
  justify-content: center;
  /* margin-top: 50px; */
  flex-wrap: wrap;
}

.day {
  margin: 25px;
}

@media (max-width: 600px) {
  .day {
    margin: 15px;
  }
}

.temp {
  display: flex;
  justify-content: center;
}

.day-bold {
  color: gray;
}

.temp-number {
  font-size: 25px;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.temp-sup {
  font-size: 13px;
}
