.avgTemp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 0; */
  margin-bottom: 120px;
}

@media (max-width: 600px) {
  .avgTemp-container {
    margin-bottom: 0;
  }
}

.avgTemp-bold {
  display: flex;
  font-size: 110px;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  line-height: 1;
}

.sup {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  font-size: 30px;
}

.date {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  color: gray;
  margin-bottom: 30px;
}
